/* You can add global styles to this file, and also import other style files */

@import "~bootswatch/dist/superhero/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/superhero/bootswatch";
body {
    background-color: $light !important;
}

.card2 {
    background-color: cornsilk !important;
}

.jumbotron-primary {
    background-color: $primary;
}

.bg-light {
    background-color: $light;
}
